<%= simple_form_for(@status) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, required: true %>
    <%= f.button :submit, :class=>"tiny success button" %>
  </div>
<% end %>