body{
    background-attachment: fixed;
    background-color: #3e724e;
}
html, body {
    min-height: 100%;
}
.login-stuff h1, .login-stuff h2{
    color: white;
}
#form .form-inputs input[type="password"],#form .form-inputs input[type="text"],#form .form-inputs input[type="email"]
{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

#form .form-inputs input:focus{
    outline: 0;
    background: #eee;
}

#form .form-inputs input[type="text"]{
    border-radius: 5px 5px 0 0;
}

#form .form-inputs input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

#form .form-inputs button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}