// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.so-delete{
  color:#666;
  &:hover{
    color:#f04124;
  }
}
.so-edit{
  color:#666;
  &:hover{
    color:#43AC6A;
  }
}
.status .admin{
	opacity:0;
  -wekit-transition:0.3s;
    -moz-transition:0.3s;
         transition:0.3s;
}
.status:hover .admin{
	opacity:1;
  -wekit-transition:0.3s;
    -moz-transition:0.3s;
         transition:0.3s;
}
.profile-feed{
  border: 5px whitesmoke solid;
  border-radius: 200px;
}
.profile-bar a{
  padding-left: 30px!important;
}