// Place all the styles related to the user_friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.friend.row{
	padding: 10px inherit;
}
.friend.row a.button.tiny{
	margin-top: 27px;
}
.card{
  background: rgba(#ffffff, 0.9);
  padding:10px;
  border: 1px solid #ddd;
  border-radius:20px;
  margin-bottom: 20px;
}